<div class="trip-index">
  <div class="title">
    <h2 class="centered">Your Trips</h2>
  </div>

  <div class="add-button" align="center">
    <section class="row">
      <%= link_to "Add Trip", new_trip_path, class: "button radius", id: "add-trip" %>
    </section>
  </div>

  <div class="trip-table">
    <section class="row">
        <table class=responsive align="center" id="table">
          <thead>
            <th width="150">Name</th>
            <th width="150">Longitude</th>
            <th width="150">Latitude</th>
            <th width="300">Climate Data</th>
          </thead>
              <% @trips.each do |trip| %>
          <tbody>
                <td><%= trip.name %></td>
                <td><%= trip.long %></td>
                <td><%= trip.lat %></td>
                <% if !trip.weather.nil? %>
                  <td>
                    <ul class="table-list">
                      <li>Conditions: <%= trip.weather.description %></li>
                      <li>Temperature: <%= temperature_conversion(trip.weather.temp) %> Fahrenheit</li>
                      <li>Wind Speed: <%= trip.weather.wind_speed %> MPS</li>
                      <li>Wind Direction: <%= trip.weather.degree %> degrees</li>
                    </ul>
                  </td>
                <% else %>
                  <td>
                    "Weather not available at this time"
                  </td>
                <% end %>
              <% end %>
          </tbody>

        </table>
    </section>
  </div>
</div>
